%div.container
  %div.jumbotron
    %h3 Accounting and Finance
    %p With finance taking on a bigger role in guiding and executing on corporate strategy, companies are looking for ways to make sure their organizations are actually ready for the job. Today Finance needs to gather, interpret and deliver insights that can shape smarter decision-making. Sigma Group captures this wider role , It’s the framework we bring to every engagement, helping companies deliver a more balanced set of capabilities to deliver even more value. From strategy to operations, performance management to reporting, we help finance organizations become the valuable partners the business needs to win.