=render 'carosel'
<br/>
<br/>
%div.container
  %div.jumbotron
    %h3 Innovation and Development
    %p Sigma Group research confirms that clients see the “how” of innovation and product development as their biggest challenge. Sigma Group Innovation and Product Development helps clients bring innovative ideas to market more successfully while creating sustainable cost and capital efficiencies.