%div.container
  %div.jumbotron 
    %h3 Lean Six Sigma
    %p We are pragmatic in our use of Lean Six Sigma. We use only the tools that make the most sense for each situation. Sigma Group has developed an up-front diagnostic tool box that enables companies to identify and focus on only the process changes that will quickly make the biggest differences, ensuring faster results with smaller initial investment.