%div.container
  %div.jumbotron 
    %h3 Operations and Process Strategy

    %p Sigma Group Operations and Process Transformation helps clients design and deliver operations and process led transformation to drive high performance. We design and implement initiatives that achieve rapid and sustainable performance outcomes for our clients, creating competitive advantage through superior execution and dynamic operating models.



