%div.container
  %div.jumbotron 
    %h3 Procurement and Sourcing
    %p Despite rapidly evolving cost-reduction and growth opportunities, many enterprises remain unsure about how to transform their procurement and sourcing organizations to reduce costs while maximizing value from supplier relationships. Sigma Group helps businesses and governments to address all sources of value creation, people, sourcing, processes and technology—to help a private or public sector procurement organization achieve high performance.