%div.container
  %div.jumbotron
    %h3 Supply Chain
    %p Economic volatility, increasing complexity and shorter cycle times are driving organizations to operate supply chains that can adapt to continuously changing conditions. Sigma Group helps clients achieve supply chain mastery by combining our global industry experience with skills in supply chain strategy and planning, sourcing procurement, manufacturing, product design, fulfillment and service management.