%div.jumbotron 
  %h1 Some of Our Work

  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vitae, eveniet, reiciendis sit impedit eligendi quod, tempore vero assumenda aliquam dolorum. Quibusdam, iste laborum dignissimos rem repudiandae, a possimus aspernatur.

  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure placeat sit ex accusamus sint nostrum quis beatae inventore non numquam labore, laboriosam facilis magnam autem laudantium quod blanditiis ad eveniet!